@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap%27');

.work-sans {
  font-family: 'Work Sans', sans-serif;
}

:root {
  --bg-color: #242424;
  --color: rgba(255, 255, 255, 0.87);
  --primary: #646cff;
  --primary-light: #535bf2;
  --input-background: #1a1a1a;
  --paper: #333333;
  --bg-code: #2c2c54;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    --color: #232323;
    --primary: #747bff;
    --input-background: #eae8e8;
    --paper: #c7ecee;
    --bg-code: #f8efba;
  }
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-light);
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;

  max-width: 1280px;
  width: 100%;
  text-align: center;
  height: 100%;
}

body,
html {
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--input-background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  padding: 0.6rem 1.2rem;
  background-color: var(--input-background);
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid transparent;
  max-width: 100%;
}
input:hover {
  border-color: var(--primary);
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.router-exercise {
  font-size: 1.5em;
  margin: 16px 0;
  text-decoration: underline;
}

.navigation-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.navigation-page > h1 {
  font-weight: bold;
}
