<div class='grid grid-cols-2 lg:grid-cols-4 gap-4'>
  <div class='flex flex-col gap-2 text-center text-primary'>
    <a class='btn btn-primary btn-sm' href='/src/exercises/0.html'>Exercice 0</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/0.1.html'>Solution
      0.1</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/0.2.html'>Solution
      0.2</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/0.3.html'>Solution
      0.3</a>
  </div>
  <div class='flex flex-col gap-2 text-center text-primary'>
    <a class='btn btn-primary btn-sm' href='/src/exercises/1.html'>Exercice 1</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/1.1.html'>Solution
      1.1</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/1.2.html'>Solution
      1.2</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/1.3.html'>Solution
      1.3</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/1.4.html'>Solution
      1.4</a>
  </div>
  <div class='flex flex-col gap-2 text-center text-primary'>
    <a class='btn btn-primary btn-sm' href='/src/exercises/2.html'>Exercice 2</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/2.1.html'>Solution
      2.1</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/2.2.html'>Solution
      2.2</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/2.3.html'>Solution
      2.3</a>
  </div>
  <div class='flex flex-col gap-2 text-center text-primary'>
    <a class='btn btn-primary btn-sm' href='/src/exercises/3.html'>Exercice 3</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/3.1.html'>Solution
      3.1</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/3.2.html'>Solution
      3.2</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/3.3.html'>Solution
      3.3</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/3.4.html'>Solution
      3.4</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/3.5.html'>Solution
      3.5</a>
    <a class='btn btn-secondary btn-sm' href='/src/solutions/3.6.html'>Solution
      3.6</a>
  </div>
</div>