<meta charset='UTF-8' />
<link rel='icon' type='image/svg+xml' href='/react.png' />
<meta name='viewport' content='width=device-width, initial-scale=1.0' />
<link rel='stylesheet' href='./src/styles.css' />
<link rel='stylesheet' href='./styles.css' />
<link rel='stylesheet' href='../styles.css' />
<title>React • Fundamentals</title>